body {
    background-color:rgb(39, 38, 38);
    text-align: center;
    align-items: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

div {
    align-items: center;
}

img {
    width: 270px;
    padding: 3px;
}

#icone-voltar {
    width: 40px;
    height: 40px;
}