@charset "utf-8";

/* aparelho em pé */

body {
    background-image: url(../images/cev-portrait.jpg);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
}